[Desktop Entry]
Categories=X-Calendar;X-Compose;X-Contacts;X-Mail;Network
Exec=me.tabinol.protonmail-desktop-client
GenericName=Protonmail Unofficial Desktop Client
Icon=me.tabinol.protonmail-desktop-client
Keywords=calendar;contacts;mail
Name=Protonmail Desktop Client
Terminal=false
Type=Application
